/* Styles for the UTC clock graphic */
#utc-clock-graphic {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the timezone clock graphic */
#timezone-clock-graphic {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the clock container */
.clock-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the clock face */
.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to bottom, #1e90ff, #00008b);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Styles for the clock hands */
.hand {
    width: 50%;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 50%;
}

.hand.minute-hand {
    width: 40%;
}

.hand.second-hand {
    width: 30%;
}

/* Neomorphism styles for the clock hands */
#utc-clock-graphic .hand {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

#timezone-clock-graphic .hand {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}
